
<div class="col-md-8 mx-auto">
    <article class="card mb-4">
        <header class="card-header text-center">
            <h1 class="card-title">{{ title }}</h1>
        </header>
        <div class="card-body">
            {{ content }}
        </div>
    </article><!-- /.card -->
</div>
