
<div class="col-md-8 mx-auto">

    <article class="card mb-4">
        <header class="card-header text-center">
            <h1 class="card-title">{{ title }}</h1>
        </header>
        <div class="card-body">

            {{ content }}


            {{ form:contact_form }}

            {{ if success }}
            <div class="bg-green-300 text-white p-2">
                {{ success }}
            </div>
            {{ else }}
            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}

            {{ fields }}
            <div class="form-group">
                {{ field }}
            </div>
            {{ if error }}
            <p class="text-gray-500">{{ error }}</p>
            {{ /if }}
            {{ /fields }}
            <button type="button" class="btn btn-success">Send</button>
            {{ /if }}

            {{ /form:contact_form }}

        </div>
    </article><!-- /.card -->

</div>
