<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

        {{ partial:header }}

        <main class="main pt-4">
            <div class="container-fluid">
                <div class="row">
                    {{ template_content }}
                </div>
            </div>
        </main>

        {{ partial:newsletter }}
        {{ partial:instagram }}
        {{ partial:footer }}





        <script src="/js/app.js"></script>
    </body>
</html>
