<div class="col-md-9">
    <div class="text-center">
        <span class="text-muted">Search:</span>
        <h2>{{ get:q }}</h2>
        <hr />
    </div>
    {{ search:results  paginate="6" as="posts" }}
    <div class="row">
        {{ if no_results }}
            <div class="col-sm-12 text-center justify-content-center">
                <h2>Aww, there are no results.</h2>
            </div>
        {{ /if }}

        {{ posts }}
            {{ partial:blog/card }}
        {{ /posts }}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination justify-content-center">
                {{ paginate }}
                <li class="page-item">
                    <a class="page-link" href="{{ prev_page }}">Previous</a>
                </li>

                <!--                    <li class="page-item"><a class="page-link" href="#">...</a></li>-->

                <li class="page-item">
                    <a class="page-link" href="{{ next_page }}">Next</a>
                </li>
                {{ /paginate }}
            </ul>
        </div>
    </div>
    {{ /search:results }}
</div>

{{ partial:sidebar }}

