<footer class="site-footer bg-darkest">
    <div class="container">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Advertise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="page-contact.html">Contact</a>
            </li>
        </ul>
        <div class="copy">
            &copy; Milo 2019<br />
            All rights reserved
        </div>
    </div>
</footer>
