<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

            <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
                <ul class="navbar-nav mr-auto">
                    {{ nav:left_menu }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>

                        {{ if children }}
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            {{ children }}
                            <a class="dropdown-item" href="{{ url }}">{{ title }}</a>
                            {{ /children }}
                        </div>
                        {{ /if }}
                    </li>
                    {{ /nav:left_menu}}
                </ul>
            </div>

            <a class="navbar-brand mx-auto order-1 order-md-3" href="/">Milø</a>

            <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
                <ul class="navbar-nav ml-auto">
                    {{ nav:right_menu }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /nav:right_menu }}
                </ul>
                <form class="form-inline" role="search" action="/search">
                    <input class="search js-search form-control form-control-rounded mr-sm-2" type="text" title="Enter search query here.." placeholder="Search.." aria-label="Search" name="q">
                </form>
            </div>
        </div>
    </nav>
</header>
