<div class="site-instagram">
    <div class="action">
        <a class="btn btn-light" href="#">
            Follow us @ Instagram
        </a>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-6">
            <div class="row no-gutters">
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/1.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/2.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/3.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/4.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row no-gutters">
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/5.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/6.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/7.jpg" alt="" />
                    </a>
                </div>
                <div class="col-3">
                    <a class="photo" href="#">
                        <img class="img-fluid" src="/assets/img/instagram/8.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
