<div class="site-newsletter">
    <div class="container">
        <div class="text-center">
            <h3 class="h4 mb-2">Subscribe to our newsletter</h3>
            <p class="text-muted">Join our monthly newsletter and never miss out on new stories and promotions.</p>

            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ml-auto mr-auto">
                    <div class="input-group mb-3 mt-3 justify-content-center">

                        {{ form:subscribe_form }}

                        {{ if success }}
                        <div class="bg-green-300 text-white p-2">
                            {{ success }}
                        </div>
                        {{ else }}
                        {{ if errors }}
                        <div class="bg-red-300 text-white p-2">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                        {{ /if }}

                        {{ fields }}
                        {{ field }}
                        {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                        {{ /if }}
                        {{ /fields }}
                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit">Submit</button>
                                        </span>
                        {{ /if }}

                        {{ /form:subscribe_form }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
