<div class="col-md-3 ml-auto">

    <aside class="sidebar">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">About</h4>
                <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
            </div>
        </div><!-- /.card -->
    </aside>

    <aside class="sidebar sidebar-sticky">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Tags</h4>
                {{ taxonomy:tags }}
                    <a class="btn btn-light btn-sm mb-1" href="/blog{{ url }}">{{ title }}</a>
                {{ /taxonomy:tags }}
            </div>
        </div><!-- /.card -->
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Popular stories</h4>

                {{ collection:blog  paginate="2" as="posts" }}
                    {{ posts }}
                        <a href="{{ url }}" class="d-inline-block">
                            <h4 class="h6">{{ title }}</h4>
                            <img class="card-img" src="{{ featured_image }}" alt="{{ featured_image:alt }}" />
                        </a>
                        <time class="timeago" datetime="{{ date }}">{{ date }}</time> in Lifestyle
                    {{ /posts }}
                {{ /collection:blog }}

            </div>
        </div><!-- /.card -->
    </aside>

</div>
