<div class="col-md-9">

    <article class="card mb-4">
        <header class="card-header text-center">
            <a href="{{ url }}">
                <h1 class="card-title">{{ title }}</h1>
            </a>
        </header>
        <div class="card-body">

            {{ categories }}
                <a class="btn btn-light btn-sm mb-1" href="{{ url }}">{{ title }}</a>
            {{ /categories }}

        </div>
    </article><!-- /.card -->

</div>
{{ partial:sidebar }}
