<div class="col-md-4">
    <article class="card mb-4">
        <header class="card-header">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="{{ date }}">{{ date }}</time></a> in {{ categories }}<a href="{{ url }}">{{ title }}</a>{{ /categories }}
            </div>
            <a href="{{ url }}">
                <h4 class="card-title">{{ title }}</h4>
            </a>
        </header>
        <a href="{{ url }}">
            <img class="card-img" src="{{ featured_image }}" alt="{{ featured_image:alt }}" />
        </a>
        <div class="card-body">
            <p class="card-text">{{ intro }}</p>
        </div>
    </article><!-- /.card -->
</div>
