<div class="col-md-9">

    <article class="card mb-4">
        <header class="card-header text-center">
            <div class="card-meta">
                <a href="#"><time class="timeago" datetime="2019-10-26 20:00">26 october 2019</time></a> in {{ categories }}<a href="{{ url }}">{{ title }}</a>{{ /categories }}
            </div>
            <a href="{{ url }}">
                <h1 class="card-title">{{ title }}</h1>
            </a>
        </header>

        {{ if image }}
            <a href="{{ url }}">
                <img class="card-img" src="{{ image }}" alt="">
            </a>
        {{ /if }}

        {{ if video }}
            <div class="vimeo">
                <iframe src="{{ video }}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
        {{ /if }}

        <div class="card-body">

            {{ content }}

            {{ if tags }}
            <p>
                Tags: {{ tags }}<a href="{{ url }}">{{ title }}</a> {{ /tags }}
            </p>
            {{ /if }}

        </div>
    </article><!-- /.card -->

</div>
{{ partial:sidebar }}
